.labelUploadForm {
    grid-area: labelUploadForm;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

}

.labelUploadForm h4 {
    font-size: 1.3rem;
}

.labelUploadForm>h3 {
    padding: 0.5rem 0 0.5rem 0;
}

.end {
    align-items: end;
}

.center {
    align-items: center;
}

.start {
    align-items: start;
}

