.container {
  padding: 0 2rem;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
        "upload     upload     preview preview preview preview preview preview"
        "uploadBtns uploadBtns preview preview preview preview preview preview"
        "    .          .      preview preview preview preview preview preview"
        "    .          .      snapshot snapshot snapshot snapshot snapshot snapshot";

}

.preview{grid-area: preview;height: 100vh;}
.upload{grid-area: upload;width:80vh;}
.uploadBtns { grid-area: uploadBtns;}
.snapshot{grid-area: snapshot;}


/* .parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

